.certificate-card{
    border: 1px solid rgb(206, 206, 206);
    border-radius: 10px;
    padding: 30px 25px;
    margin-right: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.certificate-name{
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 800;

}

.card-subtitle{
    margin-bottom: 15px;
}

.card-field{
    margin-left: 10px;
}

.btn-primary{
    margin-top: 20px;
}